appName = AwesomeTypeScriptApp
appVersion = 1.3.3.7
appDeveloper.knuddelsDEV = TobyB
appDeveloper.knuddelsAT = TobyB
appDeveloper.knuddelsDE = TobyB
mayBeInstalledBy.1 = TobyB.knuddelsDEV
mayBeInstalledBy.2 = TobyB.knuddelsDE
mayBeInstalledBy.3 = TobyB.knuddelsAT
multiChannel = true
allowMultiJoin = true
autoUpdate = knuddelsDEV
javaScriptVersion = 1.8
